{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
    .like-button {
        background-color: lightgray;
        border: none;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
    }

    .liked {
        background-color: red;
        color: white;
    }

    .like-button i {
        margin-right: 8px;
    }
</style>
{% endblock %}
{% block script %}

{% endblock %}
{% block content %}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ book.path.url }}" alt="{{ book.title }}">
    <div class="card-body">
        <h5 class="card-title">{{ clothing.title }}</h5>
        <p class="card-text">{{ clothing.description }}</p>
        <a href="{% url 'like_book' book.id %}" id="likeButton" class="like-button {% if liked %}liked{% endif %}">
            
            {% if user.is_authenticated %}
                {% if liked %}
                    <img src="{% static 'assets/img/like2.png' %}" height="30px" width="30px" alt="descurtir" srcset="" style="background-color: red;">
                {% else %}
                    <img src="{% static 'assets/img/like.png' %}" height="30px" width="30px" alt="curtir" srcset="">
                {% endif %}
            {% else %}
                Curtir
            {% endif %}
        </a>
        <form method="post" action="{% url 'comment_book' book.id %}">
            {% csrf_token %}
            <div class="form-group">
                <textarea class="form-control" name="content" rows="3" placeholder="Adicionar comentário"></textarea>
            </div>
            <button type="submit" class="btn btn-secondary">Comentar</button>
        </form>
        <h5 class="mt-4">Comentários:</h5>
        {% for comment in comments %}
            <div class="card mt-2">
                <div class="card-body">
                    <p class="card-text">{{ comment.content }}</p>
                    <p class="card-text"><small class="text-muted">por {{ comment.user.username }}</small></p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}